{#
    Authors page - generally the focal point of the application
#}

{% extends "layout.html" %}

{% block head %}
    {#
    <script type="text/babel" src="{{ url_for('static', filename='js/react-table.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/authors-table.js') }}"></script>
    <script type="text/babel">
    </script>
    #}

{% endblock %}

{% block body %}

    <div id="error-dialog">
        {# Error dialog box #}
    </div>

    <div id="new-author">
        {# New author dialog box #}
    </div>

    <div id="edit-author">
        {# Edit author dialog box #}
    </div>

    <div id="delete-author">
        {# Delete author dialog box #}
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                {#
                    Note that dialog fields are cleared when the dialog is opened.
                    Also, the data-target value must match the id defined in the
                    new-author-dialog module.
                #}
                <button id="new-author-btn" type="button" class="btn btn-primary btn-sm"
                        data-toggle="modal" data-target="#new-author-jsx">
                    New Author
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <form class="form-inline">
                    <input type="text" class="form-control" id="search-text" />
                    <button id="search-button" class="btn btn-primary btn-md" type="button">Search</button>
                </form>
            </div>
        </div>
        <div id="authorstable">
            {# Table will be rendered inside of this element #}
        </div>
    </div>

{% endblock %}

{#
    NOTE: This script tag MUST come after the elements that it references.
    Essentially, this means that it MUST come at the end of the body.
#}
{% block react %}
    <script type="text/javascript" src="{{ url_for('static', filename='dist/index_bundler.js') }}"></script>
    <script type="text/javascript">
        EntryPoint.initHomePage();
    </script>
{% endblock %}

{% block footer_links %}
<h2>Footer goes here</h2>
{% endblock %}
