<!doctype html>
<html lang="en">

<head>
    <title>Susanna's New Library</title>

    {# For React #}
    <meta charset="UTF-8">

    {# Replaced by npm modules and webpack
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js"></script>
    #}

    {# jQuery #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {# Bootstrap #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    {# jQuery UI with smoothness theme #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    {# jQuery DataTables - Not in use
    <script src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
    #}

    <link rel="shortcut icon" href="{{ url_for('static', filename='susannas_library.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-custom.css') }}">

    {# Page title #}
    <div class="container">
        <h1> <img class="logo" src="{{ url_for('static', filename='book_pile.png') }}"
                style="height:auto; width:auto; max-width:50px; max-height:50px;" />Susanna's New Library
        </h1>
    </div>
    {# Menu bar #}
    <nav class="navbar navbar-expand-md container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" role="button" href="{{ url_for('get_home') }}">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="button" href="{{ url_for('get_paged_books_page') }}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="button" href="{{ url_for('get_series_page') }}">Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="button" href="{{ url_for('get_categories_page') }}">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="button" href="#" onclick="EntryPoint.showAboutDialog()">About</a>
            </li>
        </ul>
    </nav>
    {#
    <div class="container">
        <h1> <img class="logo" src="{{ url_for('static', filename='book_pile.png') }}" style="height:auto; width:auto; max-width:50px; max-height:50px;" />
            Susanna's New Library
        </h1>
        <div class="metanav">
            <a class="btn-sm btn-default" role="button" href="{{ url_for('get_home') }}">Authors</a>
            <a class="btn-sm btn-default" role="button" href="{{ url_for('get_paged_books_page') }}">Books</a>
            <a class="btn-sm btn-default" role="button" href="{{ url_for('get_series_page') }}">Series</a>
            <a class="btn-sm btn-default" role="button" href="{{ url_for('get_categories_page') }}">Categories</a>
            <a class="btn-sm btn-default" role="button" onclick="EntryPoint.showAboutDialog()">About</a>
        </div>
    </div>
    #}

    {% block head %}{% endblock %}
</head>

<body>
    <div class="">

        <div id="about-dialog">
            {# About dialog box #}
        </div>

        {% block body %}
        {% endblock %}

        <div class="clear"></div>
    </div>

    {% block react %}
    {% endblock %}

    <script type="text/javascript">
        EntryPoint.initLayout();
    </script>
</body>

<footer class="container footer">
    <div class="card">
        <div class="row">
            <div class="col-md-6">
                <a href="{{ url_for('get_home') }}">Home/Authors</a>
                {% block footer_links %}
                {% endblock %}
            </div>
            <div class="col-md-6 text-right">
                <a href="#" onclick="EntryPoint.showAboutDialog()">
                    Susanna's New Library {{ version }} -- © 2016, 2018 by Dave Hocker
                </a>
            </div>
        </div>
    </div>
</footer>
</html>
